:root {
  --pink: #f33f3f;
  --bg: #0a0a0a;
  /* xofside,yofside,blur,warna */
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

/* body */
body {
  font-size: 1.2rem; /* rem adalah ukuran kali 16 px */
  font-family: "balsamiq sansF"; /* bila work sans tidak ada maka akan menggunakan sans-serif */
  min-height: 4000px;
}

/* BACKGROUND HERO */
/*ATAU*/ /* SUDO ELEMENT (agar tampil di belakang elemen berkelas hero */
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(aset/MENTAI\ 16\ 2.JPG);
  background-size: cover; /* agar backround mengkaver*/
  background-position: center;
  z-index: -1;
  /* efek atau filter bg */
  filter: brightness(75%);
}

/* hero */
/* vh adalah view off height*/
.hero {
  position: relative;
  min-height: 100vh;
}

/* BAYANGAN */
.hero h1,
.hero h2,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

/* h4 */
.hero h4 {
  font-size: 1.6rem;
}

/* h1 */
.hero h1,
.prodak {
  font-family: "balsamiq sansF", cursive;
  font-size: 6rem;
  color: var(--pink);
  font-weight: bolder;
}

/* tombol */
.hero a {
  color: var(--pink);
  background-color: white;
  box-shadow: var(--shadow);
}
.hero a:hover {
  background-color: var(--pink);
  color: white;
  box-shadow: var(--shadow);
}

/* NAVBAR */
.mynavbar {
  background-color: rgba(255, 255, 255, 0.4) !important;
  backdrop-filter: blur(3px);
}
.mynavbar .offcanvas {
  height: 100vh;
}
/* font mynavbar */
.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "balsamiq sansF", "cursive";
  font-size: 3.2rem;
  font-weight: bold;
}
.mynavbar .nav-link {
  text-transform: uppercase;
}

/* prodak */
.prodak::before {
  background-color: #fff;
  background-size: cover;
  min-height: 100vh;
  margin-top: -6rem;
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.prodak h2,
.info h2,
.testimoni h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--pink);
  font-family: "balsamiq sansF";
  font-size: 5rem;
  font-weight: bold;
}

.prodak h3 {
  color: var(--pink);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.prodak p {
  color: #ffffff;
  font-size: 1.1rem;
}

.prodak .couple {
  margin-top: 100px;
}

.prodak .couple h3 {
  font-family: "balsamiq sansF";
  font-size: 2.4rem;
  color: white;
}

.prodak .couple img {
  width: 100%;
}

/* info */
.info,
.pemesanan {
  background-color: var(--bg);
  color: white;
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.info h2,
.pemesanan h2 {
  color: var(--pink);
  font-family: "balsamiq sansF";
  font-size: 5rem;
  font-weight: bold;
}
.info .alamat,
.pemesanan {
  font-size: 1, 1rem;
}
.info .description,
.pemesanan {
  font-size: 1rem;
  font-weight: 300;
}
.info .card,
.pemesanan .card {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white !important;
  border: 1px solid #999;
}
.info .card-header,
.pemesanan .card-header {
  border-bottom: 1px solid #999;
  letter-spacing: 0.1rem;
}
.info .card-body,
.pemesanan .card-body {
  font-size: 1rem;
}
.info .card-footer,
.pemesanan .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

/* testimoni */
.testimoni,
.gallery,
.rsvp,
.gifts {
  padding-top: 10rem;
  padding-bottom: 8rem;
}
.testimoni span,
.gallery span,
.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 2rem;
}

.testimoni p,
.gallery p,
.rsvp p,
.gifts p {
  font-size: 1rem;
  font-weight: 300;
}

/* time line */
.timeline {
  list-style: none;
  padding: 1.4rem 0;
  margin-top: 1rem;
  position: relative;
}

.timeline::before {
  content: "";
  top: 0;
  bottom: 0;
  position: absolute;
  width: 1.5px;
  background-color: #ccc;
  left: 50%;
}
.timeline li {
  margin-bottom: 1.5;
  position: relative;
  padding: 2%;
}
.timeline li::before,
.timeline li::after {
  content: "";
  display: table;
}

.timeline li::after {
  clear: both;
}

.timeline li .timeline-image {
  width: 130px;
  height: 130px;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.timeline li .timeline-panel {
  width: 40%;
  float: left;
  border: 1px solid#ccc;
  padding: 2rem;
  position: relative;
  border-radius: 8px;
  background-color: white;
}
.timeline li .timeline-panel::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid#ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}
.timeline li .timeline-panel::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid white;
  border-right: 0 solid white;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

/* GALERY */

.gallery {
  background-color: #f5f5f5;
}

/* RSPV */

.rsvp {
  background-color: var(--bg);
}
.rsvp h2 {
  font-size: 4.5rem;
}
.rsvp p {
  color: white;
}
.rsvp form label {
  color: white;
}
.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}
.rsvp button:hover {
  background-color: white;
  color: var(--pink);
  border: 1px solid white;
  box-shadow: var(--shadow);
}

/* FOOTER */
footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}
footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

/* AUDIO */
.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 50%;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}
@keyframes rotating {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MEDIA QUERY */
/* LAPTOP */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  .simply-countdown > .simply-section {
    padding: 70px;
  }
}

/* TABLET */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  .simply-countdown > .simply-section {
    padding: 60px;
    margin: 5px;
  }
  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }
  .sticky-top {
    overflow: hidden;
  }
}

/* HP */
@media (max-width: 576px) {
  html {
    font-size: 100%;
  }
  .simply-countdown > .simply-section {
    padding: 40px;
    margin: 3px;
  }
}
